body{
    background-color: darkslategray;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: hotpink;
    border-radius: 50%;
    transition: background-color 0.5s ease-in-out;
}
.circle:hover{
    background-color: yellowgreen;
}


h1{
    text-align: center;
}